.hero-text .heading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.heading-text {
  max-width: 465px;
  text-align: left;
  /*background-color: rgba(51, 51, 51, 0.6);*/
  text-shadow: 0 0 16px #333;
  /*border: 1px solid #333;*/
  border-radius: .25rem;
  padding: 1.25rem;
}

iframe {
  border-radius: .25rem;
}

.hall-of-fame,
.progress-section {
  background-color: white;
}

.progress-decoration {
  width: 4em;
}

.progress-bar {
  transition: width 200ms ease-in-out;
  width: 0;
}

.progress-section,
.hall-of-fame {
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-radius: .25rem;
  padding: 1.25rem;
}
.card {
  border: 0;
}
.item .card-body {
  min-height: 13em;
}
.table th {
  border-top: 0;
}

/* Custom page header */
.header {
  margin-bottom: 1rem;
  /*border-bottom: .05rem solid #e5e5e5;*/
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  font-size: 1.5em;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 575px) {
  .header h2 {
    display: none;
  }
}

@media (min-width: 576px) {
  .hero-text .heading {
    font-size: 2rem;
  }
}


@media (min-width: 768px) {
  .hero-text .heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .main-container > .container {
    max-width: 960px
  }
  .hero-text .heading {
    font-size: 3.0rem;
  }
}

@media (min-width: 1200px) {
  .main-content > .container {
    max-width: 960px
  }
  .hero-text .heading {
    font-size: 3.0rem;
  }
}
