.card {
  border: 0;
}

/* Custom page header */
.header {
  margin-bottom: 1rem;
  /*border-bottom: .05rem solid #e5e5e5;*/
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  font-size: 1.5em;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 575px) {
  .header img {
    display: none;
  }
}
