// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

$oered: #ff0000;
$oeviolet: #440099;
$oegreen: #44d62c;

$primary: $oeviolet;
$secondary: $oered;
$success: $oegreen;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $oeviolet,
  secondary: $oered,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px
);

@font-face {
  font-family: Gilroy-Heavy;
  src: url('./webfonts/399019_0_0.woff');
  src: url('./webfonts/399019_0_0.woff2');
  src: url('./webfonts/399019_0_0.eot');
  src: url('./webfonts/399019_0_0.ttf');
}

$headings-font-family: Gilroy-Heavy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: false !default;

// Import bootstrap scss
@import 'node_modules/bootstrap/scss/bootstrap.scss';
