h1,h2,h3,h4,h5,h6 {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.header,
.hero-text {
  text-shadow: 0px 0px 16px #333;
}

.logo {
  filter: drop-shadow(2px 2px 8px #333);
  height: 3.5rem;
}

.sidebar,
.main-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 100vh;
}

#root {
  position: relative;
  overflow-x: hidden;
}

.app {
  background-image: url('../images/vincent-guth-168867.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
