.payment-method-button {
  width: 100%;
  border: none;
  background-color: initial;
  cursor: pointer;
}
.payment-method-button img {
  transition: scale 200ms ease-in-out;
}
.payment-method-button img:hover {
  transform: scale(1.1, 1.1);
}

.sidebar {
  background-color: floralwhite;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 300ms ease-in-out;
  transform: translateX(100%);
  position: absolute;
  opacity: 0;
  height: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.sidebar h3 {
  margin-top: 0.45em;
}

.overlay {
  transition: opacity 300ms ease-in-out;
  display: none;
  opacity: 0;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.permit {
  font-size: 0.90em;
}

.donation-form {
  overflow: hidden;
}

@media (max-width: 575px) {
  .overlay {
    display: none !important;
  }
  .sidebar .content {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .sidebar {
    max-width: 25em;
  }
}
